<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small>
        Built by <a href="https://github.com/visualway">Visualway</a> with &hearts;.
        
    </small>
</div>
